.offcanvas-container.light {
  background-color: #f8f9fa;
  color: #212529;
}

.offcanvas-container.light .offcanvas-header,
.offcanvas-container.light .offcanvas-body {
  background-color: #f8f9fa;
  color: #212529;
}

.offcanvas-container.dark {
  background-color: #1b2840;
  color: #bdbcbc;
}

.offcanvas-container.dark .offcanvas-header,
.offcanvas-container.dark .offcanvas-body {
  background-color: #1b2840;
  color: #bdbcbc;
}

.container-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
