.offcanvas-container.light {
  background-color: #f8f9fa;
  color: #212529;
}

.offcanvas-container.light .offcanvas-header,
.offcanvas-container.light .offcanvas-body {
  background-color: #f8f9fa;
  color: #212529;
}

.offcanvas-container.dark {
  background-color: #1b2840;
  color: #bdbcbc;
}

.offcanvas-container.dark .offcanvas-header,
.offcanvas-container.dark .offcanvas-body {
  background-color: #1b2840;
  color: #bdbcbc;
}

.container-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icons {
  margin-right: 20px;
}

.descriptionBox {
  border: 1px solid #c9cace;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 5px;
  background-color: #f3f3f3;
  font-size: 95%;
  height: auto;
}

.offcanvas-container.dark .offcanvas-body .descriptionBox {
  border: 1px #c9c9ca;
  background-color: #2b3d59;
}

.taskDelay {
  color: rgba(238, 38, 38, 0.801);
}
.textBox {
  margin-left: 3px;
  font-family: "system-ui";
}

.textDayLimit {
  font-style: italic;
  color: #5c5b5b;
  font-size: 82%;
}

.descriptionBox pre,
.offcanvas-body pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: hidden;
  max-height: none;
}

.note-box pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: hidden;
  max-height: none;
}

.descriptionContainer,
.noteContainer {
  margin-top: 10px;
}
